# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
*.pyc
.env
*.db

# Node / Next.js
node_modules/
.next/
out/
.env.local
.env.*.local

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
